{% extends 'base.html' %}

{% block title %}Eliminar Usuario{% endblock %}

{% block contenido %}

<h2>Detalles de usuario</h2>
    <ul class="mdl-list">
        <li class="mdl-list__item mdl-list__item--three-line">
            <span class="mdl-list__item-primary-content">
                <span class="titulo">Usuario: {{ usuario.usuario }}</span>
                <span class="mdl-list__item-text-body">                        
                    <h4 class="nombre">Nombre: {{ usuario.usuario.first_name }} {{ usuario.usuario.last_name }} </h4>
                    
                    Correo electrónico: {{ usuario.usuario.email }}
                    <br/>
                </span>
            </span>
            <span class="mdl-list__item-secondary-content">
            </span>
        </li>
    </ul>

{% endblock %}
